/* button */
.buttonWrapper{
    /*max-width  : 220px;*/
    /*width      : 100%;*/
    /*text-align : center;*/
    /*margin: 20px auto;*/
}

.button{
    -webkit-appearance : button;
    position           : relative;
    overflow           : hidden;
    /*box-shadow         : 0 0 0 0.2rem rgba(0, 0, 0, 0.1);*/
    /*width              : 100%;*/
    display            : block;
    border             : 1px solid transparent;
    padding            : 10px 25px;
    z-index            : 1;
    border-radius      : 5px;
    transition         : color var(--transition), background-color var(--transition), border-color var(--transition), box-shadow var(--transition);
}

.buttonText{
    white-space : nowrap;
    user-select : none;
    font-style  : normal;
    font-weight : bold;
    font-size   : 16px;
    line-height : 19px;
    text-align  : center;
}

.button:before{
    content          : '';
    position         : absolute;
    display          : block;
    background       : var(--ripple-background, white);
    border-radius    : 50%;
    pointer-events   : none;
    /*position and size*/
    top              : calc(var(--y) * 1px);
    left             : calc(var(--x) * 1px);
    width            : calc(var(--d) * 1px);
    height           : calc(var(--d) * 1px);
    
    /*animated properties*/
    opacity          : calc(var(--o, 1) * var(--ripple-opacity, 0.3));
    transition       : calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);
    transform        : translate(-50%, -50%) scale(var(--s, 1));
    transform-origin : center;
    z-index          : -1;
    border           : none;
}

.button:focus{
    outline : 0;
}

.button:not(:disabled):not(.disabled){
    cursor : pointer;
}

/* primary */
.button.primary{
    background   : var(--background-btn-color-primary);
    color        : var(--font-btn-color-primary);
    border-color : var(--background-btn-color-primary);
}

.button.primary:hover{
    background   : var(--background-btn-color-primary-hover);
    color        : var(--font-btn-color-primary-hover);
    border-color : var(--background-btn-color-primary-hover);
}

.button.primary:active{
}

.button.primary:focus{
}

.button:disabled,
.button:disabled:hover{
    border-color     : var(--background-btn-color-disabled);
    background-color : var(--background-btn-color-disabled);
    color            : var(--font-btn-color-disabled);
    cursor           : default;
    pointer-events   : none;
}

.button:disabled svg path,
.button:disabled:hover svg path{
    fill : #4e455e !important;
}

/* end primary */

/* secondary */
.button.secondary{
    background   : var(--background-btn-color-secondary);
    color        : var(--font-btn-color-secondary);
    border-color : var(--background-btn-color-secondary);
}

.button.secondary:hover{
    background   : var(--background-btn-color-secondary-hover);
    color        : var(--font-btn-color-secondary-hover);
    border-color : var(--background-btn-color-secondary-hover);
}

.button.secondary:active{
}

.button.secondary:focus{
}

/* end button*/